<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dam.jsoup.updatereport.updatreport.dao.GoodsMapper">

    <select id="getMaList" resultType="dam.jsoup.updatereport.updatreport.vo.GoodList" parameterType="dam.jsoup.updatereport.updatreport.vo.SearchGoodsVo">
          select ma.ma_name goodName,
                 ma.ma_tip des,
                 '1'  type,
                 ma.ma_rate rate,
                 ma.ma_sale_num saleNum,
                 ma.create_time sendTime,
                 ma.tips tips,
                 ma.user_id ownerId,
                 ma.ma_id  id,
                 jud.user_nick_name createUser,
                 oa.ma_id have,
                 ma.ma_price price
          from jsoup_mission_all ma
                   left join jsoup_user_detail jud
                             on ma.user_id = jud.user_id
                   left join order_jsoup_ma oa
                             on oa.ma_id = ma.ma_id
          where
          <if test="tip != null and tip != ''">
              ma.tips like concat('%',#{tip,jdbcType=VARCHAR},'%') and
          </if>
          <if test="name != null and tip != ''">
              ma.ma_name like concat('%',#{name,jdbcType=VARCHAR},'%') and
          </if>
          <if test="id != null">
              ma.ma_id = #{id} and
          </if>
        <if test="userId != null">
            ma.user_id =#{userId} and
        </if>
        <if test="leftDate != null">
            ma.create_time  &gt;  #{leftDate,jdbcType=TIMESTAMP} and
        </if>
        <if test="rightDate != null">
            ma.create_time &lt;  #{rightDate,jdbcType=TIMESTAMP} and
        </if>
            oa.customer_user_id != #{currentUser,jdbcType=INTEGER} and
        ma.user_id != #{currentUser,jdbcType=INTEGER} and
                ma.ma_state = 2
                order by
        <if test="sortByDownload == 1">
            saleNum,
        </if>
        <if test="sortByRate == 1">
            rate ,
        </if>
        sendTime DESC
        LIMIT #{pageStart},#{pageEnd}
    </select>
    <select id="getMhList" resultType="dam.jsoup.updatereport.updatreport.vo.GoodList" parameterType="dam.jsoup.updatereport.updatreport.vo.SearchGoodsVo">
        select ma.mission_all_name goodName,
        ma.mission_all_dis des,
        '2'  type,
        ma.sale_rate rate,
        ma.sale_num saleNum,
        ma.sent_time sendTime,
        ma.tips tips,
        ma.user_id ownerId,
        ma.mission_all_history_id  id,
        jud.user_nick_name createUser,
        oa.mh_id have,
        ma.sale_price price
        from jsoup_mission_all_history ma
        left join jsoup_user_detail jud
        on ma.user_id = jud.user_id
        left join order_jsoup_mh oa
        on oa.mh_id = ma.mission_all_history_id
        where
        <if test="tip != null and tip != ''">
            ma.tips like concat('%',#{tip,jdbcType=VARCHAR},'%') and
        </if>
        <if test="name != null and tip != ''">
            ma.mission_all_name like concat('%',#{name,jdbcType=VARCHAR},'%') and
        </if>
        <if test="id != null">
            ma.mission_all_history_id  = #{id} and
        </if>
        <if test="userId != null">
            ma.user_id =#{userId} and
        </if>
        <if test="leftDate != null">
            ma.sent_time  &gt;  #{leftDate,jdbcType=TIMESTAMP} and
        </if>
        <if test="rightDate != null">
            ma.sent_time &lt;  #{rightDate,jdbcType=TIMESTAMP} and
        </if>
            oa.customer_user_id != #{currentUser,jdbcType=INTEGER} and
            ma.user_id != #{currentUser,jdbcType=INTEGER}  and
        ma.on_sale = '1'
        order by
        <if test="sortByDownload == 1">
            saleNum,
        </if>
        <if test="sortByRate == 1">
            rate ,
        </if>
        sendTime DESC
        LIMIT #{pageStart},#{pageEnd}
    </select>
    <select id="getMaDetail" resultType="dam.jsoup.updatereport.updatreport.vo.GoodDetailVo">
        select ma.ma_id id,
               ma.ma_name name,
               ma.ma_tip des,
               ma.create_time as 'time',
               ma.ma_price price,
               ma.ma_rate rate,
               ma.tips tips,
               ud.user_nick_name,
               ma.ma_sale_num saleNum,
               1 type,
               ma.user_id userId
        from jsoup_mission_all ma
        left join jsoup_user_detail ud
           on ud.user_id = ma.user_id
         where ma.ma_id = #{maId}
    </select>
    <select id="getMhDetail" resultType="dam.jsoup.updatereport.updatreport.vo.GoodDetailVo">
        select ma.mission_all_history_id id,
               ma.mission_all_name name,
               ma.mission_all_dis des,
               ma.sent_time as 'time',
               ma.sale_price price,
               ma.sale_rate rate,
               ma.tips tips,
               ud.user_nick_name,
               ma.sale_num saleNum,
               1 type,
               ma.user_id userId
        from jsoup_mission_all_history ma
                 left join jsoup_user_detail ud
                           on ud.user_id = ma.user_id
        where ma.mission_all_history_id = #{mhId}
    </select>
    <select id="getComment" resultType="dam.jsoup.updatereport.updatreport.vo.CommentVo">
        select jc.*,
               ud.user_nick_name userName,
               ud.user_des userDes,
               ud.user_lever userLever

        from jsoup_comment
        left join jsoup_user_detail ud
           on jc.user_id = ud.user_id
        where
         jc.type_id = #{type} and
              jc.root_id = #{rootId} and
              jc.deep = 0
         limit #{start} ,#{end}

    </select>
</mapper>