<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dam.jsoup.updatereport.updatreport.dao.HandMapper">


    <select id="getOneWaitToDoTask" resultType="dam.jsoup.updatereport.updatreport.pojo.JsoupMissionAllHistory">
        select * from jsoup.jsoup_mission_all_history mh where mh.mission_state = '1'
        order by mh.sent_time ASC
        limit 1
    </select>

    <select id="getMaComment" resultType="dam.jsoup.updatereport.updatreport.vo.CommentVo">
        select
                jud.user_id userId,
                jma.ma_id orderId,
                jud.user_nick_name userNickName,
                jud.user_lever lever,
                ojm.mark_time sentTime,
               ojm.des commentDes,
                jud.user_des userDes,
               ojm.up_num upNum,
            ojm.down_num downNum,
            count(*) count

        from jsoup.order_jsoup_ma ojm
        left join jsoup.jsoup_mission_all jma on jma.ma_id = ojm.ma_id
        left join jsoup.jsoup_user_detail jud on jud.user_id = ojm.owner_user_id
        where ojm.ma_id = #{maId,jdbcType=INTEGER} and ojm.des != ''
        limit #{pre,jdbcType=INTEGER},#{last,jdbcType=INTEGER}

    </select>

    <select id="getMhComment" resultType="dam.jsoup.updatereport.updatreport.vo.CommentVo">
        select
        jud.user_id userId,
        jma.mission_all_history_id orderId,
        jud.user_nick_name userNickName,
        jud.user_lever lever,
        ojm.mark_time sentTime,
        ojm.des commentDes,
        jud.user_des userDes,
        ojm.up_num upNum,
        ojm.down_num downNum,
        count(*) count

        from jsoup.order_jsoup_mh ojm
        left join jsoup.jsoup_mission_all_history jma on jma.mission_all_history_id = ojm.mh_id
        left join jsoup.jsoup_user_detail jud on jud.user_id = ojm.owner_user_id
        where ojm.mh_id = #{maId,jdbcType=INTEGER} and ojm.des != ''
        limit #{pre,jdbcType=INTEGER},#{last,jdbcType=INTEGER}
    </select>

    <select id="getWaitExecutorNum" resultType="java.lang.Integer">
       select  count(0)
        from jsoup.jsoup_mission_all_history ma
        where ma.mission_state = '1'
    </select>

    <select id="getExcutorByCpuCodeAndToken" resultType="dam.jsoup.updatereport.updatreport.pojo.JsoupExcutor">
        select *
        from jsoup.jsoup_excutor
        where excutor_code = #{code}
        and excutor_token = #{token}
    </select>

    <select id="getExcutorByToekn" resultType="dam.jsoup.updatereport.updatreport.pojo.JsoupExcutor">
        select * from jsoup.jsoup_excutor
        where excutor_token =#{token}
    </select>

    <update id="updateExcutorByExcutorToken" parameterType="dam.jsoup.updatereport.updatreport.pojo.JsoupExcutor">
        update jsoup.jsoup_excutor
        <set>
            <if test="createTime != null">
                 create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="excutorCode != null and excutorCode != ''">
                excutor_code = #{excutorCode},
            </if>
            <if test="liveUpdateTime != null">
                live_update_time = #{liveUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null and status != ''">
                status = #{status}
            </if>
        </set>>
        where excutor_token = #{excutorToken,jdbcType=VARCHAR}
    </update>

    <select id="getAllLiveExcutor" resultType="dam.jsoup.updatereport.updatreport.pojo.JsoupExcutor">
        select * from jsoup.jsoup_excutor
        where status='1'
    </select>

</mapper>