<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dam.jsoup.updatereport.updatreport.dao.JsoupMissionAllMapper">
  <resultMap id="BaseResultMap" type="dam.jsoup.updatereport.updatreport.pojo.JsoupMissionAll">
    <!--@mbg.generated-->
    <!--@Table jsoup_mission_all-->
    <id column="ma_id" jdbcType="INTEGER" property="maId" />
    <result column="ma_name" jdbcType="VARCHAR" property="maName" />
    <result column="ma_tip" jdbcType="VARCHAR" property="maTip" />
    <result column="mal_start_url" jdbcType="VARCHAR" property="malStartUrl" />
    <result column="ma_success_file_name" jdbcType="VARCHAR" property="maSuccessFileName" />
    <result column="ma_user_id" jdbcType="INTEGER" property="maUserId" />
    <result column="ma_notice_email" jdbcType="VARCHAR" property="maNoticeEmail" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ma_id, ma_name, ma_tip, mal_start_url, ma_success_file_name, ma_user_id, ma_notice_email, 
    user_id
  </sql>
  <select id="selectByExample" parameterType="dam.jsoup.updatereport.updatreport.pojo.JsoupMissionAllExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from jsoup_mission_all
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from jsoup_mission_all
    where ma_id = #{maId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from jsoup_mission_all
    where ma_id = #{maId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="dam.jsoup.updatereport.updatreport.pojo.JsoupMissionAllExample">
    <!--@mbg.generated-->
    delete from jsoup_mission_all
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="ma_id" keyProperty="maId" parameterType="dam.jsoup.updatereport.updatreport.pojo.JsoupMissionAll" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into jsoup_mission_all (ma_name, ma_tip, mal_start_url, 
      ma_success_file_name, ma_user_id, ma_notice_email, 
      user_id)
    values (#{maName,jdbcType=VARCHAR}, #{maTip,jdbcType=VARCHAR}, #{malStartUrl,jdbcType=VARCHAR}, 
      #{maSuccessFileName,jdbcType=VARCHAR}, #{maUserId,jdbcType=INTEGER}, #{maNoticeEmail,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="ma_id" keyProperty="maId" parameterType="dam.jsoup.updatereport.updatreport.pojo.JsoupMissionAll" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into jsoup_mission_all
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="maName != null">
        ma_name,
      </if>
      <if test="maTip != null">
        ma_tip,
      </if>
      <if test="malStartUrl != null">
        mal_start_url,
      </if>
      <if test="maSuccessFileName != null">
        ma_success_file_name,
      </if>
      <if test="maUserId != null">
        ma_user_id,
      </if>
      <if test="maNoticeEmail != null">
        ma_notice_email,
      </if>
      <if test="userId != null">
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="maName != null">
        #{maName,jdbcType=VARCHAR},
      </if>
      <if test="maTip != null">
        #{maTip,jdbcType=VARCHAR},
      </if>
      <if test="malStartUrl != null">
        #{malStartUrl,jdbcType=VARCHAR},
      </if>
      <if test="maSuccessFileName != null">
        #{maSuccessFileName,jdbcType=VARCHAR},
      </if>
      <if test="maUserId != null">
        #{maUserId,jdbcType=INTEGER},
      </if>
      <if test="maNoticeEmail != null">
        #{maNoticeEmail,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="dam.jsoup.updatereport.updatreport.pojo.JsoupMissionAllExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from jsoup_mission_all
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update jsoup_mission_all
    <set>
      <if test="record.maId != null">
        ma_id = #{record.maId,jdbcType=INTEGER},
      </if>
      <if test="record.maName != null">
        ma_name = #{record.maName,jdbcType=VARCHAR},
      </if>
      <if test="record.maTip != null">
        ma_tip = #{record.maTip,jdbcType=VARCHAR},
      </if>
      <if test="record.malStartUrl != null">
        mal_start_url = #{record.malStartUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.maSuccessFileName != null">
        ma_success_file_name = #{record.maSuccessFileName,jdbcType=VARCHAR},
      </if>
      <if test="record.maUserId != null">
        ma_user_id = #{record.maUserId,jdbcType=INTEGER},
      </if>
      <if test="record.maNoticeEmail != null">
        ma_notice_email = #{record.maNoticeEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update jsoup_mission_all
    set ma_id = #{record.maId,jdbcType=INTEGER},
      ma_name = #{record.maName,jdbcType=VARCHAR},
      ma_tip = #{record.maTip,jdbcType=VARCHAR},
      mal_start_url = #{record.malStartUrl,jdbcType=VARCHAR},
      ma_success_file_name = #{record.maSuccessFileName,jdbcType=VARCHAR},
      ma_user_id = #{record.maUserId,jdbcType=INTEGER},
      ma_notice_email = #{record.maNoticeEmail,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="dam.jsoup.updatereport.updatreport.pojo.JsoupMissionAll">
    <!--@mbg.generated-->
    update jsoup_mission_all
    <set>
      <if test="maName != null">
        ma_name = #{maName,jdbcType=VARCHAR},
      </if>
      <if test="maTip != null">
        ma_tip = #{maTip,jdbcType=VARCHAR},
      </if>
      <if test="malStartUrl != null">
        mal_start_url = #{malStartUrl,jdbcType=VARCHAR},
      </if>
      <if test="maSuccessFileName != null">
        ma_success_file_name = #{maSuccessFileName,jdbcType=VARCHAR},
      </if>
      <if test="maUserId != null">
        ma_user_id = #{maUserId,jdbcType=INTEGER},
      </if>
      <if test="maNoticeEmail != null">
        ma_notice_email = #{maNoticeEmail,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
    </set>
    where ma_id = #{maId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="dam.jsoup.updatereport.updatreport.pojo.JsoupMissionAll">
    <!--@mbg.generated-->
    update jsoup_mission_all
    set ma_name = #{maName,jdbcType=VARCHAR},
      ma_tip = #{maTip,jdbcType=VARCHAR},
      mal_start_url = #{malStartUrl,jdbcType=VARCHAR},
      ma_success_file_name = #{maSuccessFileName,jdbcType=VARCHAR},
      ma_user_id = #{maUserId,jdbcType=INTEGER},
      ma_notice_email = #{maNoticeEmail,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER}
    where ma_id = #{maId,jdbcType=INTEGER}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update jsoup_mission_all
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="ma_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when ma_id = #{item.maId,jdbcType=INTEGER} then #{item.maName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="ma_tip = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when ma_id = #{item.maId,jdbcType=INTEGER} then #{item.maTip,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="mal_start_url = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when ma_id = #{item.maId,jdbcType=INTEGER} then #{item.malStartUrl,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="ma_success_file_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when ma_id = #{item.maId,jdbcType=INTEGER} then #{item.maSuccessFileName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="ma_user_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when ma_id = #{item.maId,jdbcType=INTEGER} then #{item.maUserId,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="ma_notice_email = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when ma_id = #{item.maId,jdbcType=INTEGER} then #{item.maNoticeEmail,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="user_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when ma_id = #{item.maId,jdbcType=INTEGER} then #{item.userId,jdbcType=INTEGER}
        </foreach>
      </trim>
    </trim>
    where ma_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.maId,jdbcType=INTEGER}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="ma_id" keyProperty="maId" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into jsoup_mission_all
    (ma_name, ma_tip, mal_start_url, ma_success_file_name, ma_user_id, ma_notice_email, 
      user_id)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.maName,jdbcType=VARCHAR}, #{item.maTip,jdbcType=VARCHAR}, #{item.malStartUrl,jdbcType=VARCHAR}, 
        #{item.maSuccessFileName,jdbcType=VARCHAR}, #{item.maUserId,jdbcType=INTEGER}, 
        #{item.maNoticeEmail,jdbcType=VARCHAR}, #{item.userId,jdbcType=INTEGER})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" keyColumn="ma_id" keyProperty="maId" parameterType="dam.jsoup.updatereport.updatreport.pojo.JsoupMissionAll" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into jsoup_mission_all
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="maId != null">
        ma_id,
      </if>
      ma_name,
      ma_tip,
      mal_start_url,
      ma_success_file_name,
      ma_user_id,
      ma_notice_email,
      user_id,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="maId != null">
        #{maId,jdbcType=INTEGER},
      </if>
      #{maName,jdbcType=VARCHAR},
      #{maTip,jdbcType=VARCHAR},
      #{malStartUrl,jdbcType=VARCHAR},
      #{maSuccessFileName,jdbcType=VARCHAR},
      #{maUserId,jdbcType=INTEGER},
      #{maNoticeEmail,jdbcType=VARCHAR},
      #{userId,jdbcType=INTEGER},
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="maId != null">
        ma_id = #{maId,jdbcType=INTEGER},
      </if>
      ma_name = #{maName,jdbcType=VARCHAR},
      ma_tip = #{maTip,jdbcType=VARCHAR},
      mal_start_url = #{malStartUrl,jdbcType=VARCHAR},
      ma_success_file_name = #{maSuccessFileName,jdbcType=VARCHAR},
      ma_user_id = #{maUserId,jdbcType=INTEGER},
      ma_notice_email = #{maNoticeEmail,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
    </trim>
  </insert>
  <insert id="insertOrUpdateSelective" keyColumn="ma_id" keyProperty="maId" parameterType="dam.jsoup.updatereport.updatreport.pojo.JsoupMissionAll" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into jsoup_mission_all
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="maId != null">
        ma_id,
      </if>
      <if test="maName != null">
        ma_name,
      </if>
      <if test="maTip != null">
        ma_tip,
      </if>
      <if test="malStartUrl != null">
        mal_start_url,
      </if>
      <if test="maSuccessFileName != null">
        ma_success_file_name,
      </if>
      <if test="maUserId != null">
        ma_user_id,
      </if>
      <if test="maNoticeEmail != null">
        ma_notice_email,
      </if>
      <if test="userId != null">
        user_id,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="maId != null">
        #{maId,jdbcType=INTEGER},
      </if>
      <if test="maName != null">
        #{maName,jdbcType=VARCHAR},
      </if>
      <if test="maTip != null">
        #{maTip,jdbcType=VARCHAR},
      </if>
      <if test="malStartUrl != null">
        #{malStartUrl,jdbcType=VARCHAR},
      </if>
      <if test="maSuccessFileName != null">
        #{maSuccessFileName,jdbcType=VARCHAR},
      </if>
      <if test="maUserId != null">
        #{maUserId,jdbcType=INTEGER},
      </if>
      <if test="maNoticeEmail != null">
        #{maNoticeEmail,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="maId != null">
        ma_id = #{maId,jdbcType=INTEGER},
      </if>
      <if test="maName != null">
        ma_name = #{maName,jdbcType=VARCHAR},
      </if>
      <if test="maTip != null">
        ma_tip = #{maTip,jdbcType=VARCHAR},
      </if>
      <if test="malStartUrl != null">
        mal_start_url = #{malStartUrl,jdbcType=VARCHAR},
      </if>
      <if test="maSuccessFileName != null">
        ma_success_file_name = #{maSuccessFileName,jdbcType=VARCHAR},
      </if>
      <if test="maUserId != null">
        ma_user_id = #{maUserId,jdbcType=INTEGER},
      </if>
      <if test="maNoticeEmail != null">
        ma_notice_email = #{maNoticeEmail,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>