<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dam.jsoup.updatereport.updatreport.dao.JsoupCommentMapper">
  <resultMap id="BaseResultMap" type="dam.jsoup.updatereport.updatreport.pojo.JsoupComment">
    <!--@mbg.generated-->
    <!--@Table jsoup_comment-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="father_id" jdbcType="INTEGER" property="fatherId" />
    <result column="type_id" jdbcType="INTEGER" property="typeId" />
    <result column="comment" jdbcType="LONGVARCHAR" property="comment" />
    <result column="up_num" jdbcType="INTEGER" property="upNum" />
    <result column="down_num" jdbcType="INTEGER" property="downNum" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="connect_id" jdbcType="INTEGER" property="connectId" />
    <result column="cteate_time" jdbcType="TIMESTAMP" property="cteateTime" />
    <result column="root_id" jdbcType="INTEGER" property="rootId" />
    <result column="deep" jdbcType="INTEGER" property="deep" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, father_id, type_id, `comment`, up_num, down_num, user_id, connect_id, cteate_time, 
    root_id, deep
  </sql>
  <select id="selectByExample" parameterType="dam.jsoup.updatereport.updatreport.pojo.JsoupCommentExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from jsoup_comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from jsoup_comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from jsoup_comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="dam.jsoup.updatereport.updatreport.pojo.JsoupCommentExample">
    <!--@mbg.generated-->
    delete from jsoup_comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="dam.jsoup.updatereport.updatreport.pojo.JsoupComment">
    <!--@mbg.generated-->
    insert into jsoup_comment (id, father_id, type_id, 
      `comment`, up_num, down_num, 
      user_id, connect_id, cteate_time, 
      root_id, deep)
    values (#{id,jdbcType=INTEGER}, #{fatherId,jdbcType=INTEGER}, #{typeId,jdbcType=INTEGER}, 
      #{comment,jdbcType=LONGVARCHAR}, #{upNum,jdbcType=INTEGER}, #{downNum,jdbcType=INTEGER}, 
      #{userId,jdbcType=INTEGER}, #{connectId,jdbcType=INTEGER}, #{cteateTime,jdbcType=TIMESTAMP}, 
      #{rootId,jdbcType=INTEGER}, #{deep,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="dam.jsoup.updatereport.updatreport.pojo.JsoupComment">
    <!--@mbg.generated-->
    insert into jsoup_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="fatherId != null">
        father_id,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="comment != null">
        `comment`,
      </if>
      <if test="upNum != null">
        up_num,
      </if>
      <if test="downNum != null">
        down_num,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="connectId != null">
        connect_id,
      </if>
      <if test="cteateTime != null">
        cteate_time,
      </if>
      <if test="rootId != null">
        root_id,
      </if>
      <if test="deep != null">
        deep,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fatherId != null">
        #{fatherId,jdbcType=INTEGER},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=LONGVARCHAR},
      </if>
      <if test="upNum != null">
        #{upNum,jdbcType=INTEGER},
      </if>
      <if test="downNum != null">
        #{downNum,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="connectId != null">
        #{connectId,jdbcType=INTEGER},
      </if>
      <if test="cteateTime != null">
        #{cteateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rootId != null">
        #{rootId,jdbcType=INTEGER},
      </if>
      <if test="deep != null">
        #{deep,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="dam.jsoup.updatereport.updatreport.pojo.JsoupCommentExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from jsoup_comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update jsoup_comment
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.fatherId != null">
        father_id = #{record.fatherId,jdbcType=INTEGER},
      </if>
      <if test="record.typeId != null">
        type_id = #{record.typeId,jdbcType=INTEGER},
      </if>
      <if test="record.comment != null">
        `comment` = #{record.comment,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.upNum != null">
        up_num = #{record.upNum,jdbcType=INTEGER},
      </if>
      <if test="record.downNum != null">
        down_num = #{record.downNum,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.connectId != null">
        connect_id = #{record.connectId,jdbcType=INTEGER},
      </if>
      <if test="record.cteateTime != null">
        cteate_time = #{record.cteateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rootId != null">
        root_id = #{record.rootId,jdbcType=INTEGER},
      </if>
      <if test="record.deep != null">
        deep = #{record.deep,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update jsoup_comment
    set id = #{record.id,jdbcType=INTEGER},
      father_id = #{record.fatherId,jdbcType=INTEGER},
      type_id = #{record.typeId,jdbcType=INTEGER},
      `comment` = #{record.comment,jdbcType=LONGVARCHAR},
      up_num = #{record.upNum,jdbcType=INTEGER},
      down_num = #{record.downNum,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      connect_id = #{record.connectId,jdbcType=INTEGER},
      cteate_time = #{record.cteateTime,jdbcType=TIMESTAMP},
      root_id = #{record.rootId,jdbcType=INTEGER},
      deep = #{record.deep,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="dam.jsoup.updatereport.updatreport.pojo.JsoupComment">
    <!--@mbg.generated-->
    update jsoup_comment
    <set>
      <if test="fatherId != null">
        father_id = #{fatherId,jdbcType=INTEGER},
      </if>
      <if test="typeId != null">
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        `comment` = #{comment,jdbcType=LONGVARCHAR},
      </if>
      <if test="upNum != null">
        up_num = #{upNum,jdbcType=INTEGER},
      </if>
      <if test="downNum != null">
        down_num = #{downNum,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="connectId != null">
        connect_id = #{connectId,jdbcType=INTEGER},
      </if>
      <if test="cteateTime != null">
        cteate_time = #{cteateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rootId != null">
        root_id = #{rootId,jdbcType=INTEGER},
      </if>
      <if test="deep != null">
        deep = #{deep,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="dam.jsoup.updatereport.updatreport.pojo.JsoupComment">
    <!--@mbg.generated-->
    update jsoup_comment
    set father_id = #{fatherId,jdbcType=INTEGER},
      type_id = #{typeId,jdbcType=INTEGER},
      `comment` = #{comment,jdbcType=LONGVARCHAR},
      up_num = #{upNum,jdbcType=INTEGER},
      down_num = #{downNum,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      connect_id = #{connectId,jdbcType=INTEGER},
      cteate_time = #{cteateTime,jdbcType=TIMESTAMP},
      root_id = #{rootId,jdbcType=INTEGER},
      deep = #{deep,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update jsoup_comment
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="father_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.fatherId,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="type_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.typeId,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="`comment` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.comment,jdbcType=LONGVARCHAR}
        </foreach>
      </trim>
      <trim prefix="up_num = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.upNum,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="down_num = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.downNum,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="user_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.userId,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="connect_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.connectId,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="cteate_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.cteateTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="root_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.rootId,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="deep = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.deep,jdbcType=INTEGER}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=INTEGER}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into jsoup_comment
    (id, father_id, type_id, `comment`, up_num, down_num, user_id, connect_id, cteate_time, 
      root_id, deep)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=INTEGER}, #{item.fatherId,jdbcType=INTEGER}, #{item.typeId,jdbcType=INTEGER}, 
        #{item.comment,jdbcType=LONGVARCHAR}, #{item.upNum,jdbcType=INTEGER}, #{item.downNum,jdbcType=INTEGER}, 
        #{item.userId,jdbcType=INTEGER}, #{item.connectId,jdbcType=INTEGER}, #{item.cteateTime,jdbcType=TIMESTAMP}, 
        #{item.rootId,jdbcType=INTEGER}, #{item.deep,jdbcType=INTEGER})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="dam.jsoup.updatereport.updatreport.pojo.JsoupComment">
    <!--@mbg.generated-->
    insert into jsoup_comment
    (id, father_id, type_id, `comment`, up_num, down_num, user_id, connect_id, cteate_time, 
      root_id, deep)
    values
    (#{id,jdbcType=INTEGER}, #{fatherId,jdbcType=INTEGER}, #{typeId,jdbcType=INTEGER}, 
      #{comment,jdbcType=LONGVARCHAR}, #{upNum,jdbcType=INTEGER}, #{downNum,jdbcType=INTEGER}, 
      #{userId,jdbcType=INTEGER}, #{connectId,jdbcType=INTEGER}, #{cteateTime,jdbcType=TIMESTAMP}, 
      #{rootId,jdbcType=INTEGER}, #{deep,jdbcType=INTEGER})
    on duplicate key update 
    id = #{id,jdbcType=INTEGER}, 
    father_id = #{fatherId,jdbcType=INTEGER}, 
    type_id = #{typeId,jdbcType=INTEGER}, 
    `comment` = #{comment,jdbcType=LONGVARCHAR}, 
    up_num = #{upNum,jdbcType=INTEGER}, 
    down_num = #{downNum,jdbcType=INTEGER}, 
    user_id = #{userId,jdbcType=INTEGER}, 
    connect_id = #{connectId,jdbcType=INTEGER}, 
    cteate_time = #{cteateTime,jdbcType=TIMESTAMP}, 
    root_id = #{rootId,jdbcType=INTEGER}, 
    deep = #{deep,jdbcType=INTEGER}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="dam.jsoup.updatereport.updatreport.pojo.JsoupComment">
    <!--@mbg.generated-->
    insert into jsoup_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="fatherId != null">
        father_id,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="comment != null">
        `comment`,
      </if>
      <if test="upNum != null">
        up_num,
      </if>
      <if test="downNum != null">
        down_num,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="connectId != null">
        connect_id,
      </if>
      <if test="cteateTime != null">
        cteate_time,
      </if>
      <if test="rootId != null">
        root_id,
      </if>
      <if test="deep != null">
        deep,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fatherId != null">
        #{fatherId,jdbcType=INTEGER},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=LONGVARCHAR},
      </if>
      <if test="upNum != null">
        #{upNum,jdbcType=INTEGER},
      </if>
      <if test="downNum != null">
        #{downNum,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="connectId != null">
        #{connectId,jdbcType=INTEGER},
      </if>
      <if test="cteateTime != null">
        #{cteateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rootId != null">
        #{rootId,jdbcType=INTEGER},
      </if>
      <if test="deep != null">
        #{deep,jdbcType=INTEGER},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="fatherId != null">
        father_id = #{fatherId,jdbcType=INTEGER},
      </if>
      <if test="typeId != null">
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        `comment` = #{comment,jdbcType=LONGVARCHAR},
      </if>
      <if test="upNum != null">
        up_num = #{upNum,jdbcType=INTEGER},
      </if>
      <if test="downNum != null">
        down_num = #{downNum,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="connectId != null">
        connect_id = #{connectId,jdbcType=INTEGER},
      </if>
      <if test="cteateTime != null">
        cteate_time = #{cteateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rootId != null">
        root_id = #{rootId,jdbcType=INTEGER},
      </if>
      <if test="deep != null">
        deep = #{deep,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>