<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dam.jsoup.updatereport.updatreport.dao.JsoupPragramMapper">
  <resultMap id="BaseResultMap" type="dam.jsoup.updatereport.updatreport.pojo.JsoupPragram">
    <!--@mbg.generated-->
    <!--@Table jsoup_pragram-->
    <id column="pragram_id" jdbcType="INTEGER" property="pragramId" />
    <result column="mission_id" jdbcType="INTEGER" property="missionId" />
    <result column="action_id" jdbcType="INTEGER" property="actionId" />
    <result column="pragram_type" jdbcType="VARCHAR" property="pragramType" />
    <result column="pragram_accuracy" jdbcType="INTEGER" property="pragramAccuracy" />
    <result column="is_ramdom" jdbcType="INTEGER" property="isRamdom" />
    <result column="up_num" jdbcType="DECIMAL" property="upNum" />
    <result column="down_num" jdbcType="DECIMAL" property="downNum" />
    <result column="pragram_value" jdbcType="VARCHAR" property="pragramValue" />
    <result column="mission_all_id" jdbcType="INTEGER" property="missionAllId" />
    <result column="program_content" jdbcType="VARCHAR" property="programContent" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    pragram_id, mission_id, action_id, pragram_type, pragram_accuracy, is_ramdom, up_num, 
    down_num, pragram_value, mission_all_id, program_content
  </sql>
  <select id="selectByExample" parameterType="dam.jsoup.updatereport.updatreport.pojo.JsoupPragramExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from jsoup_pragram
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from jsoup_pragram
    where pragram_id = #{pragramId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from jsoup_pragram
    where pragram_id = #{pragramId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="dam.jsoup.updatereport.updatreport.pojo.JsoupPragramExample">
    <!--@mbg.generated-->
    delete from jsoup_pragram
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="pragram_id" keyProperty="pragramId" parameterType="dam.jsoup.updatereport.updatreport.pojo.JsoupPragram" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into jsoup_pragram (mission_id, action_id, pragram_type, 
      pragram_accuracy, is_ramdom, up_num, 
      down_num, pragram_value, mission_all_id, 
      program_content)
    values (#{missionId,jdbcType=INTEGER}, #{actionId,jdbcType=INTEGER}, #{pragramType,jdbcType=VARCHAR}, 
      #{pragramAccuracy,jdbcType=INTEGER}, #{isRamdom,jdbcType=INTEGER}, #{upNum,jdbcType=DECIMAL}, 
      #{downNum,jdbcType=DECIMAL}, #{pragramValue,jdbcType=VARCHAR}, #{missionAllId,jdbcType=INTEGER}, 
      #{programContent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="pragram_id" keyProperty="pragramId" parameterType="dam.jsoup.updatereport.updatreport.pojo.JsoupPragram" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into jsoup_pragram
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="missionId != null">
        mission_id,
      </if>
      <if test="actionId != null">
        action_id,
      </if>
      <if test="pragramType != null">
        pragram_type,
      </if>
      <if test="pragramAccuracy != null">
        pragram_accuracy,
      </if>
      <if test="isRamdom != null">
        is_ramdom,
      </if>
      <if test="upNum != null">
        up_num,
      </if>
      <if test="downNum != null">
        down_num,
      </if>
      <if test="pragramValue != null">
        pragram_value,
      </if>
      <if test="missionAllId != null">
        mission_all_id,
      </if>
      <if test="programContent != null">
        program_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="missionId != null">
        #{missionId,jdbcType=INTEGER},
      </if>
      <if test="actionId != null">
        #{actionId,jdbcType=INTEGER},
      </if>
      <if test="pragramType != null">
        #{pragramType,jdbcType=VARCHAR},
      </if>
      <if test="pragramAccuracy != null">
        #{pragramAccuracy,jdbcType=INTEGER},
      </if>
      <if test="isRamdom != null">
        #{isRamdom,jdbcType=INTEGER},
      </if>
      <if test="upNum != null">
        #{upNum,jdbcType=DECIMAL},
      </if>
      <if test="downNum != null">
        #{downNum,jdbcType=DECIMAL},
      </if>
      <if test="pragramValue != null">
        #{pragramValue,jdbcType=VARCHAR},
      </if>
      <if test="missionAllId != null">
        #{missionAllId,jdbcType=INTEGER},
      </if>
      <if test="programContent != null">
        #{programContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="dam.jsoup.updatereport.updatreport.pojo.JsoupPragramExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from jsoup_pragram
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update jsoup_pragram
    <set>
      <if test="record.pragramId != null">
        pragram_id = #{record.pragramId,jdbcType=INTEGER},
      </if>
      <if test="record.missionId != null">
        mission_id = #{record.missionId,jdbcType=INTEGER},
      </if>
      <if test="record.actionId != null">
        action_id = #{record.actionId,jdbcType=INTEGER},
      </if>
      <if test="record.pragramType != null">
        pragram_type = #{record.pragramType,jdbcType=VARCHAR},
      </if>
      <if test="record.pragramAccuracy != null">
        pragram_accuracy = #{record.pragramAccuracy,jdbcType=INTEGER},
      </if>
      <if test="record.isRamdom != null">
        is_ramdom = #{record.isRamdom,jdbcType=INTEGER},
      </if>
      <if test="record.upNum != null">
        up_num = #{record.upNum,jdbcType=DECIMAL},
      </if>
      <if test="record.downNum != null">
        down_num = #{record.downNum,jdbcType=DECIMAL},
      </if>
      <if test="record.pragramValue != null">
        pragram_value = #{record.pragramValue,jdbcType=VARCHAR},
      </if>
      <if test="record.missionAllId != null">
        mission_all_id = #{record.missionAllId,jdbcType=INTEGER},
      </if>
      <if test="record.programContent != null">
        program_content = #{record.programContent,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update jsoup_pragram
    set pragram_id = #{record.pragramId,jdbcType=INTEGER},
      mission_id = #{record.missionId,jdbcType=INTEGER},
      action_id = #{record.actionId,jdbcType=INTEGER},
      pragram_type = #{record.pragramType,jdbcType=VARCHAR},
      pragram_accuracy = #{record.pragramAccuracy,jdbcType=INTEGER},
      is_ramdom = #{record.isRamdom,jdbcType=INTEGER},
      up_num = #{record.upNum,jdbcType=DECIMAL},
      down_num = #{record.downNum,jdbcType=DECIMAL},
      pragram_value = #{record.pragramValue,jdbcType=VARCHAR},
      mission_all_id = #{record.missionAllId,jdbcType=INTEGER},
      program_content = #{record.programContent,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="dam.jsoup.updatereport.updatreport.pojo.JsoupPragram">
    <!--@mbg.generated-->
    update jsoup_pragram
    <set>
      <if test="missionId != null">
        mission_id = #{missionId,jdbcType=INTEGER},
      </if>
      <if test="actionId != null">
        action_id = #{actionId,jdbcType=INTEGER},
      </if>
      <if test="pragramType != null">
        pragram_type = #{pragramType,jdbcType=VARCHAR},
      </if>
      <if test="pragramAccuracy != null">
        pragram_accuracy = #{pragramAccuracy,jdbcType=INTEGER},
      </if>
      <if test="isRamdom != null">
        is_ramdom = #{isRamdom,jdbcType=INTEGER},
      </if>
      <if test="upNum != null">
        up_num = #{upNum,jdbcType=DECIMAL},
      </if>
      <if test="downNum != null">
        down_num = #{downNum,jdbcType=DECIMAL},
      </if>
      <if test="pragramValue != null">
        pragram_value = #{pragramValue,jdbcType=VARCHAR},
      </if>
      <if test="missionAllId != null">
        mission_all_id = #{missionAllId,jdbcType=INTEGER},
      </if>
      <if test="programContent != null">
        program_content = #{programContent,jdbcType=VARCHAR},
      </if>
    </set>
    where pragram_id = #{pragramId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="dam.jsoup.updatereport.updatreport.pojo.JsoupPragram">
    <!--@mbg.generated-->
    update jsoup_pragram
    set mission_id = #{missionId,jdbcType=INTEGER},
      action_id = #{actionId,jdbcType=INTEGER},
      pragram_type = #{pragramType,jdbcType=VARCHAR},
      pragram_accuracy = #{pragramAccuracy,jdbcType=INTEGER},
      is_ramdom = #{isRamdom,jdbcType=INTEGER},
      up_num = #{upNum,jdbcType=DECIMAL},
      down_num = #{downNum,jdbcType=DECIMAL},
      pragram_value = #{pragramValue,jdbcType=VARCHAR},
      mission_all_id = #{missionAllId,jdbcType=INTEGER},
      program_content = #{programContent,jdbcType=VARCHAR}
    where pragram_id = #{pragramId,jdbcType=INTEGER}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update jsoup_pragram
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="mission_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when pragram_id = #{item.pragramId,jdbcType=INTEGER} then #{item.missionId,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="action_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when pragram_id = #{item.pragramId,jdbcType=INTEGER} then #{item.actionId,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="pragram_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when pragram_id = #{item.pragramId,jdbcType=INTEGER} then #{item.pragramType,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="pragram_accuracy = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when pragram_id = #{item.pragramId,jdbcType=INTEGER} then #{item.pragramAccuracy,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="is_ramdom = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when pragram_id = #{item.pragramId,jdbcType=INTEGER} then #{item.isRamdom,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="up_num = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when pragram_id = #{item.pragramId,jdbcType=INTEGER} then #{item.upNum,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="down_num = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when pragram_id = #{item.pragramId,jdbcType=INTEGER} then #{item.downNum,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="pragram_value = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when pragram_id = #{item.pragramId,jdbcType=INTEGER} then #{item.pragramValue,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="mission_all_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when pragram_id = #{item.pragramId,jdbcType=INTEGER} then #{item.missionAllId,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="program_content = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when pragram_id = #{item.pragramId,jdbcType=INTEGER} then #{item.programContent,jdbcType=VARCHAR}
        </foreach>
      </trim>
    </trim>
    where pragram_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.pragramId,jdbcType=INTEGER}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="pragram_id" keyProperty="pragramId" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into jsoup_pragram
    (mission_id, action_id, pragram_type, pragram_accuracy, is_ramdom, up_num, down_num, 
      pragram_value, mission_all_id, program_content)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.missionId,jdbcType=INTEGER}, #{item.actionId,jdbcType=INTEGER}, #{item.pragramType,jdbcType=VARCHAR}, 
        #{item.pragramAccuracy,jdbcType=INTEGER}, #{item.isRamdom,jdbcType=INTEGER}, #{item.upNum,jdbcType=DECIMAL}, 
        #{item.downNum,jdbcType=DECIMAL}, #{item.pragramValue,jdbcType=VARCHAR}, #{item.missionAllId,jdbcType=INTEGER}, 
        #{item.programContent,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" keyColumn="pragram_id" keyProperty="pragramId" parameterType="dam.jsoup.updatereport.updatreport.pojo.JsoupPragram" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into jsoup_pragram
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pragramId != null">
        pragram_id,
      </if>
      mission_id,
      action_id,
      pragram_type,
      pragram_accuracy,
      is_ramdom,
      up_num,
      down_num,
      pragram_value,
      mission_all_id,
      program_content,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pragramId != null">
        #{pragramId,jdbcType=INTEGER},
      </if>
      #{missionId,jdbcType=INTEGER},
      #{actionId,jdbcType=INTEGER},
      #{pragramType,jdbcType=VARCHAR},
      #{pragramAccuracy,jdbcType=INTEGER},
      #{isRamdom,jdbcType=INTEGER},
      #{upNum,jdbcType=DECIMAL},
      #{downNum,jdbcType=DECIMAL},
      #{pragramValue,jdbcType=VARCHAR},
      #{missionAllId,jdbcType=INTEGER},
      #{programContent,jdbcType=VARCHAR},
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="pragramId != null">
        pragram_id = #{pragramId,jdbcType=INTEGER},
      </if>
      mission_id = #{missionId,jdbcType=INTEGER},
      action_id = #{actionId,jdbcType=INTEGER},
      pragram_type = #{pragramType,jdbcType=VARCHAR},
      pragram_accuracy = #{pragramAccuracy,jdbcType=INTEGER},
      is_ramdom = #{isRamdom,jdbcType=INTEGER},
      up_num = #{upNum,jdbcType=DECIMAL},
      down_num = #{downNum,jdbcType=DECIMAL},
      pragram_value = #{pragramValue,jdbcType=VARCHAR},
      mission_all_id = #{missionAllId,jdbcType=INTEGER},
      program_content = #{programContent,jdbcType=VARCHAR},
    </trim>
  </insert>
  <insert id="insertOrUpdateSelective" keyColumn="pragram_id" keyProperty="pragramId" parameterType="dam.jsoup.updatereport.updatreport.pojo.JsoupPragram" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into jsoup_pragram
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pragramId != null">
        pragram_id,
      </if>
      <if test="missionId != null">
        mission_id,
      </if>
      <if test="actionId != null">
        action_id,
      </if>
      <if test="pragramType != null">
        pragram_type,
      </if>
      <if test="pragramAccuracy != null">
        pragram_accuracy,
      </if>
      <if test="isRamdom != null">
        is_ramdom,
      </if>
      <if test="upNum != null">
        up_num,
      </if>
      <if test="downNum != null">
        down_num,
      </if>
      <if test="pragramValue != null">
        pragram_value,
      </if>
      <if test="missionAllId != null">
        mission_all_id,
      </if>
      <if test="programContent != null">
        program_content,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pragramId != null">
        #{pragramId,jdbcType=INTEGER},
      </if>
      <if test="missionId != null">
        #{missionId,jdbcType=INTEGER},
      </if>
      <if test="actionId != null">
        #{actionId,jdbcType=INTEGER},
      </if>
      <if test="pragramType != null">
        #{pragramType,jdbcType=VARCHAR},
      </if>
      <if test="pragramAccuracy != null">
        #{pragramAccuracy,jdbcType=INTEGER},
      </if>
      <if test="isRamdom != null">
        #{isRamdom,jdbcType=INTEGER},
      </if>
      <if test="upNum != null">
        #{upNum,jdbcType=DECIMAL},
      </if>
      <if test="downNum != null">
        #{downNum,jdbcType=DECIMAL},
      </if>
      <if test="pragramValue != null">
        #{pragramValue,jdbcType=VARCHAR},
      </if>
      <if test="missionAllId != null">
        #{missionAllId,jdbcType=INTEGER},
      </if>
      <if test="programContent != null">
        #{programContent,jdbcType=VARCHAR},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="pragramId != null">
        pragram_id = #{pragramId,jdbcType=INTEGER},
      </if>
      <if test="missionId != null">
        mission_id = #{missionId,jdbcType=INTEGER},
      </if>
      <if test="actionId != null">
        action_id = #{actionId,jdbcType=INTEGER},
      </if>
      <if test="pragramType != null">
        pragram_type = #{pragramType,jdbcType=VARCHAR},
      </if>
      <if test="pragramAccuracy != null">
        pragram_accuracy = #{pragramAccuracy,jdbcType=INTEGER},
      </if>
      <if test="isRamdom != null">
        is_ramdom = #{isRamdom,jdbcType=INTEGER},
      </if>
      <if test="upNum != null">
        up_num = #{upNum,jdbcType=DECIMAL},
      </if>
      <if test="downNum != null">
        down_num = #{downNum,jdbcType=DECIMAL},
      </if>
      <if test="pragramValue != null">
        pragram_value = #{pragramValue,jdbcType=VARCHAR},
      </if>
      <if test="missionAllId != null">
        mission_all_id = #{missionAllId,jdbcType=INTEGER},
      </if>
      <if test="programContent != null">
        program_content = #{programContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>