<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dam.jsoup.updatereport.updatreport.dao.MhMapper">


    <select id="getOneWaitToDoTask" resultType="dam.jsoup.updatereport.updatreport.pojo.JsoupMissionAllHistory">
        select * from jsoup.jsoup_mission_all_history mh where mh.mission_state = '1'
        order by mh.sent_time ASC
        limit 1
    </select>
</mapper>