<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dam.jsoup.updatereport.updatreport.dao.TaskExecutionParamsMapper">
  <resultMap id="BaseResultMap" type="dam.jsoup.updatereport.updatreport.pojo.TaskExecutionParams">
    <!--@mbg.generated-->
    <!--@Table task_execution_params-->
    <result column="TASK_EXECUTION_ID" jdbcType="BIGINT" property="taskExecutionId" />
    <result column="TASK_PARAM" jdbcType="VARCHAR" property="taskParam" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    TASK_EXECUTION_ID, TASK_PARAM
  </sql>
  <select id="selectByExample" parameterType="dam.jsoup.updatereport.updatreport.pojo.TaskExecutionParamsExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from task_execution_params
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="dam.jsoup.updatereport.updatreport.pojo.TaskExecutionParamsExample">
    <!--@mbg.generated-->
    delete from task_execution_params
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="dam.jsoup.updatereport.updatreport.pojo.TaskExecutionParams">
    <!--@mbg.generated-->
    insert into task_execution_params (TASK_EXECUTION_ID, TASK_PARAM)
    values (#{taskExecutionId,jdbcType=BIGINT}, #{taskParam,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="dam.jsoup.updatereport.updatreport.pojo.TaskExecutionParams">
    <!--@mbg.generated-->
    insert into task_execution_params
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskExecutionId != null">
        TASK_EXECUTION_ID,
      </if>
      <if test="taskParam != null">
        TASK_PARAM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taskExecutionId != null">
        #{taskExecutionId,jdbcType=BIGINT},
      </if>
      <if test="taskParam != null">
        #{taskParam,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="dam.jsoup.updatereport.updatreport.pojo.TaskExecutionParamsExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from task_execution_params
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update task_execution_params
    <set>
      <if test="record.taskExecutionId != null">
        TASK_EXECUTION_ID = #{record.taskExecutionId,jdbcType=BIGINT},
      </if>
      <if test="record.taskParam != null">
        TASK_PARAM = #{record.taskParam,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update task_execution_params
    set TASK_EXECUTION_ID = #{record.taskExecutionId,jdbcType=BIGINT},
      TASK_PARAM = #{record.taskParam,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into task_execution_params
    (TASK_EXECUTION_ID, TASK_PARAM)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.taskExecutionId,jdbcType=BIGINT}, #{item.taskParam,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="dam.jsoup.updatereport.updatreport.pojo.TaskExecutionParams">
    <!--@mbg.generated-->
    insert into task_execution_params
    (TASK_EXECUTION_ID, TASK_PARAM)
    values
    (#{taskExecutionId,jdbcType=BIGINT}, #{taskParam,jdbcType=VARCHAR})
    on duplicate key update 
    TASK_EXECUTION_ID = #{taskExecutionId,jdbcType=BIGINT}, 
    TASK_PARAM = #{taskParam,jdbcType=VARCHAR}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="dam.jsoup.updatereport.updatreport.pojo.TaskExecutionParams">
    <!--@mbg.generated-->
    insert into task_execution_params
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskExecutionId != null">
        TASK_EXECUTION_ID,
      </if>
      <if test="taskParam != null">
        TASK_PARAM,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskExecutionId != null">
        #{taskExecutionId,jdbcType=BIGINT},
      </if>
      <if test="taskParam != null">
        #{taskParam,jdbcType=VARCHAR},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="taskExecutionId != null">
        TASK_EXECUTION_ID = #{taskExecutionId,jdbcType=BIGINT},
      </if>
      <if test="taskParam != null">
        TASK_PARAM = #{taskParam,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>